.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app-header h1 {
  font-weight: normal;
  letter-spacing: 0.1em;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
