:root {
  --bg-primary: #121212; /* Deep dark grey/black */
  --bg-secondary: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;
  --accent-color: #00e0ff; 
  --border-color: #333333;
  --font-main: "Meiryo", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
}

.app-container {
  width: 80vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary); /* Match the variable */
  color: var(--text-primary);
  font-family: var(--font-main);
}
